$font-family: Arial, sans-serif;
$background-color: black;
$item-bg-color: rgb(3, 76, 105);



body {
  font-family: $font-family;
  background-color: $background-color;
}

@function calculate-percentage($ncolunas) {
  @return 100% / $ncolunas;
}

@mixin tamanhotela($ncolunas) {
  grid-template-columns: repeat($ncolunas, calculate-percentage($ncolunas));
}

.container {
  @include tamanhotela(4);
  display: grid;
  font-family: $font-family;
  background-color: $background-color;
  align-self: auto;
  align-content: center;
  justify-content: space-around;

  @media (max-width: 1000px) {
    @include tamanhotela(3);
  }

  @media (max-width: 800px) {
    @include tamanhotela(2);
  }

  @media (max-width: 600px) {
    @include tamanhotela(1);
  }
}

.item {
  color: white;
  background-color: $item-bg-color;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 40px;
  align-self: auto;
}
