$theme-colors: (
  light: (
    background-color: white,
    color: black,
  ),
  dark: (
    background-color: black,
    color: white,
  ),
);


@mixin theme($theme-key) {
  $colors: map-get($theme-colors, $theme-key);
  
  background-color: map-get($colors, background-color);
  color: map-get($colors, color);
}



.light-mode {
  @include theme(light);
}

.dark-mode {
  @include theme(dark);
}


body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  @include light-mode; // Aplica o tema light ao body por padrão
}

.container {
  text-align: center;
  margin-top: 100px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.button-here {
  padding: 10px 20px;
  background-color: rgb(13, 212, 212);
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #0e728b;
  }
  
    @include dark-mode;
  
}
