$theme-colors: (
    light: (
        background: white,
        text: black,
    ),
    dark: (
        background: black,
        text: white,
    ),
);

@function theme-color($theme, $type) {
    @return map-get(map-get($theme-colors, $theme), $type);
}

@mixin generate-theme($theme) {
    .#{$theme}-mode {
        background-color: theme-color($theme, background);
        color: theme-color($theme, text);
    }
}

body {
    font-family: Verdana, sans-serif;
    background-color: theme-color(light, background);
    color: theme-color(light, text);
    transition: background-color 0.3s, color 0.3s;
}

.container {
    text-align: center;
    margin-top: 100px;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    background-color: rgb(13, 212, 212);
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: #11a7cc;
    }
}

// Gerar classes de tema usando o mixin
@include generate-theme(light);
@include generate-theme(dark);
